<% if current_user %>
<%= link_to 'Sign Out', logout_path, method: "delete" %>
<% end %>

<h1>Welcome <%= @admin.name %></h1>
<h4>Hospital: <%= @admin.hospital.name %></h4>
	
	<ul>
		<% @departments.each do |dep| %>
		<li>Department: <%= link_to dep.name, department_path(dep) %>
				<ul>
					<% dep.groups.each do |group| %>
					<li>
						<%= link_to group.name, group_path %>
					</li>
						<% end %>
				</ul>
		</li>
   <% end %>


	</ul>